@import '../../index.scss';
.loader {
  text-align: center;
  padding: 32px;
  .MuiSvgIcon-root {
    color: $gray-200;
    font-size: 52px;
    animation: rotate 1s infinite linear;
    margin-top: 32px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
